@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 98%;
    --border: 0 0% 16%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --muted: 0 0% 27.86%;
    --muted-foreground: 240 5% 84.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "ss01" on, "ss02" on, "cv01" on, "cv02" on;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .calendar-row-marketing {
    @apply bg-calendar-marketing-light dark:bg-calendar-marketing-dark;
  }

  .calendar-row-development {
    @apply bg-calendar-development-light dark:bg-calendar-development-dark;
  }

  .calendar-row-design {
    @apply bg-calendar-design-light dark:bg-calendar-design-dark;
  }

  .calendar-header-bg {
    @apply bg-[#F8F8F8] dark:bg-[#262626];
  }

  .year-text {
    @apply text-gray-600 dark:text-gray-300;
  }
}